body {
  margin: 6.25%;
  font-family: 'Arial', sans-serif;
  background-color: #f4f5f7;
}

h1 {
  font-size: 51px;
  font-weight: normal;
  color: #000000;
}

h2 {
  font-size: 38px;
  font-weight: normal;
  letter-spacing: -0.41px;
}

.store-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
