@import '../scss/main.scss';

.CartContainer {
  > .Button {
    font-size: 14px;
  }

  .icon-shopping-cart {
    margin-right: 8px;
  }
}

.close-cart {
  width: 30px;
  height: 30px;
  position: relative;

  &:hover {
    &:before,
    &:after {
      background-color: #000000;
    }
  }

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
    position: absolute;
    left: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
