@import '../scss/main.scss';

.Button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:enabled {
    cursor: pointer;
  }

  &.text-link {
    font-size: 14px;
    color: $btn-text-link;

    &:hover:enabled {
      color: $btn-text-hovered;
    }

    &:disabled,
    &[disabled] {
      color: $btn-text-disabled;
    }
  }

  &.primary {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    color: $btn-cta-primary;
    background-color: $btn-cta-primary-bg;
    padding: 12px 20px 13px 26px;
    border-radius: 100px;

    &:hover:enabled {
      background-color: $btn-cta-primary-bg;
    }

    &:disabled,
    &[disabled] {
      opacity: 0.3;
      cursor: initial;
    }

    @include mobile() {
      padding: 8px 17px;
    }
  }

  &.secondary {
    background-color: $btn-cta-secondary-bg;
    color: $gray;
    padding: 14px 40px 13px 41px;
    border-radius: 200px 0 0 200px;

    &.right {
      border-radius: 0 200px 200px 0;
      padding-left: 41px;
      padding-right: 40px;
    }

    &:hover:enabled,
    &:active:enabled {
      background-color: $btn-cta-secondary-hovered-bg;
      color: $btn-cta-primary;

      span {
        &:before,
        &:after {
          background-color: $btn-cta-primary;
        }
      }
    }

    &:disabled,
    &[disabled] {
      background-color: $btn-cta-secondary-disabled-bg;
      color: $btn-cta-secondary-disabled;

      span {
        &:before,
        &:after {
          background-color: $btn-cta-secondary-disabled;
        }
      }
    }
  }
}
