@import '../scss/main.scss';

.Button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  &:enabled {
    cursor: pointer;
  }

  &.text-link {
    font-size: 14px;
    color: #292929;

    &:hover:enabled {
      color: #407fc0;
    }

    &:disabled,
    &[disabled] {
      color: #b1b2b1;
    }
  }

  &.primary {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    color: #ffffff;
    background-color: #5e97d1;
    padding: 12px 20px 13px 26px;
    border-radius: 100px;

    &:hover:enabled {
      background-color: #407fc0;
    }

    &:disabled,
    &[disabled] {
      opacity: 0.3;
      cursor: initial;
    }

    @include mobile() {
      padding: 8px 17px;
    }
  }

  &.secondary {
    background-color: #f5f5f5;
    color: #8e939c;
    padding: 14px 40px 13px 41px;
    border-radius: 200px 0 0 200px;

    &.right {
      border-radius: 0 200px 200px 0;
      padding-left: 41px;
      padding-right: 40px;
    }

    &:hover:enabled,
    &:active:enabled {
      background-color: #5e97d1;
      color: #ffffff;

      span {
        &:before,
        &:after {
          background-color: #ffffff;
        }
      }
    }

    &:disabled,
    &[disabled] {
      background-color: #f9f9f9;
      color: #dedede;

      span {
        &:before,
        &:after {
          background-color: #dedede;
        }
      }
    }
  }
}
