@import '../scss/main.scss';

.Cart {
  position: relative;
  width: 100%;
  height: 100%;
  // border: 1px solid #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 15px;

  .items {
    padding: 8.7% 10% 12%;
    padding: 8.7% 10% calc(8.7% + 42px);
    height: 100%;
    min-height: 678px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    > div {
      flex: 2;
      display: flex;
      flex-direction: row;

      &.column {
        flex-direction: column;
        flex: auto;
      }
    }

    .totals {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        align-self: flex-end;
      }
    }
  }

  .remove-btn {
    color: #cc1d39;
    position: absolute;
    bottom: 0;
  }

  h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  .checkout-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;

    @include tablet() {
      border-radius: 0;
    }
  }

  .no-items {
    width: 100%;
    height: 100%;
    color: #919191;
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    span {
      display: block;
      width: 44%;
      font-size: 21px;
      line-height: 28px;
      letter-spacing: -0.44px;
      width: 90%;

      &.icon-shopping-cart {
        width: 100%;
        font-size: 95px;
        line-height: 1;
        margin-bottom: 25px;
      }
    }
  }

  .Product {
    margin-bottom: 20px;
  }

  .cart-controls {
    display: flex;
    flex-direction: row;
    // flex-flow: row nowrap;

    input {
      flex: 1;
      text-align: center;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      border-left: 0;
      border-right: 0;
      font-size: 14px;
      letter-spacing: -0.59px;
      width: 100%;
    }

    .decrease-icon,
    .increase-icon {
      width: 14px;
      height: 14px;
      display: block;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #8e939c;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .increase-icon {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #8e939c;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(90deg);
      }
    }
  }
}
