@import '../scss/main.scss';

.Cart {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  border-radius: 15px;

  .items {
    height: 100%;
    padding: 8.7% 10% 12%;
    padding: 8.7% 10% calc(8.7% + 42px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @include mobile() {
      padding-left: 17px;
      padding-right: 17px;
    }

    > div {
      display: flex;
      flex-direction: row;

      &.column {
        flex-direction: column;
        flex: auto;
      }

      &.row {
        flex-grow: 2;
      }
    }

    .cart-items {
      height: 100%;
      width: 100%;

      &.column {
        overflow: auto;
      }
    }

    .cart-item {
      padding-bottom: 40px;
    }

    .totals {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-shrink: 0;

      > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        padding-top: 21px;

        &:first-child {
          border-top: 1px solid #e8e8e8;
        }

        &.grand-total {
          margin-top: 21px;
          padding-top: 20px;
          border-top: 1px solid #e8e8e8;
        }
      }

      span {
        align-self: flex-end;

        &:first-child {
          color: #9d9d9d;
        }
      }
    }
  }

  .remove-btn {
    color: #cc1d39;
    position: absolute;
    bottom: 0;
  }

  h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
  }

  .checkout-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 15px 15px;

    @include tablet() {
      border-radius: 0;
    }
  }

  .no-items {
    width: 100%;
    height: 100%;
    color: #919191;
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    span {
      display: block;
      width: 44%;
      font-size: 21px;
      line-height: 28px;
      letter-spacing: -0.44px;
      width: 90%;
      max-width: 250px;

      &.icon-shopping-cart {
        width: 100%;
        font-size: 95px;
        line-height: 1;
        margin-bottom: 25px;
      }
    }
  }

  .Product {
    margin-bottom: 20px;
    border-radius: 0;

    @include mobile {
      flex-direction: row;
      border-radius: 0;
    }

    .image {
      @include mobile {
        width: 38%;
        flex-shrink: 0;
      }
    }

    .info {
      @include mobile {
        margin: 0;
        padding: 0 15px;
      }
    }

    h2 {
      @include mobile {
        font-size: 16px;
      }
    }

    .price {
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
