#modal {
  // background-color: rgba(9, 9, 9, 0.91);
  background-color: #d5d6da;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  // max-width: 500px;
  width: 780px;
  height: 678px;
  border-radius: 15px;
}

// #modal .buttons button {
//   display: inline-block;
//   margin-right: 15px;
// }
