@import '../scss/main.scss';

#modal {
  background-color: $modal-bg;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:empty {
    display: none;
  }

  .close-cart {
    position: absolute;
    top: 30px;
    right: 28px;
    z-index: 1;
  }

  > div {
    background-color: white;
    width: 61%;
    height: 80%;
    border-radius: 15px;
    position: relative;

    @include tablet() {
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }

  .focus-trap {
    height: 100%;
  }
}
