@import '../scss/main.scss';

#modal {
  background-color: #d5d6da;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .close-cart {
    position: absolute;
    top: 30px;
    right: 28px;
  }
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  width: 61%;
  height: auto;
  border-radius: 15px;
  position: relative;

  @include tablet() {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
