@import '../scss/main.scss';

.Product {
  display: flex;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  @include mobile() {
    flex-direction: column;
  }

  h2 {
    margin: 0 0 19px 0;

    @include mobile() {
      margin: 0 0 9px 0;
    }
  }

  .image {
    width: 40.625%;

    @include mobile() {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .info {
    padding: 0 6.7% 0 5%;
    margin: 3.3% 0 3.6%;
    box-sizing: border-box;
    position: relative;
    width: 59.375%;

    @include mobile {
      width: 100%;
      margin: 25px 0 31px;
      padding: 0 19px 0 23px;
    }
  }

  .info-title-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .price {
      font-size: 21px;
      letter-spacing: -0.27px;
      margin-bottom: 20px;

      @include mobile() {
        font-size: 16px;
        margin-bottom: 9px;
      }
    }
  }

  .inventory {
    flex-basis: 100%;
    display: block;
    font-size: 13px;
    letter-spacing: 0;
    color: #939393;
    text-transform: uppercase;

    @include tablet() {
      font-size: 12px;
    }
  }

  .add-to-cart {
    position: absolute;
    bottom: 0;

    @include mobile {
      position: relative;
      bottom: auto;
      margin-top: 25px;
    }
  }
}

.Cart {
  .Product {
    h2 {
      font-size: 28px;
      border: none;
      padding: 0;
    }

    .info-title-price {
      @include mobile() {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .price {
      font-size: 18px;
    }
  }
}
