.Product {
  display: flex;

  h2 {
    margin: 0 0 19px 0;
  }

  .info {
    width: 100%;
  }
  .info-title-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .price {
      font-size: 21px;
      letter-spacing: -0.27px;
      margin-bottom: 20px;
    }
  }

  .inventory {
    flex-basis: 100%;
    display: block;
    font-size: 13px;
    letter-spacing: 0;
    color: #939393;
    text-transform: uppercase;
  }
}

.Cart {
  .Product {
    h2 {
      font-size: 16px;
      border: none;
      padding: 0;
    }

    .info-title-price {
      flex-direction: column;
      align-items: flex-start;
    }

    .price {
      font-size: 14px;
    }
  }
}
